*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: 'Lustria', serif;
	scroll-behavior: smooth;
}
/**::selection{
	background: #C7574C;
	color: #070707;
	text-shadow: 0px 0 transparent;
}*/
body{
	background-color: #eee;
	background-color: #fafafa;
	text-align: center;
}
a{
	color: #FA9073;
	/*font-weight: bold;*/
	text-decoration-line: underline;
	text-decoration-color: transparent;
	transition: 0.2s;
}
a:hover{
	text-decoration-color: #ed9a73;
}
.marquee-bound{
	position: relative;
	padding: 12rem 4rem 4rem;
	background-color: #FA9073;
	background-color: #373F80;
	background: linear-gradient( 250deg, #57bb54, rgb(71, 185, 197), #8056f5, #9454b9, #d6667e, #e6a646, #ca5a5a, #c4404b, #432F5C, #201a74);/*#68FD138, #20E61D, #0a0b18*/
	background-size: 1200% 1200%;
	color: #fff;
	text-align: center;
	animation: rainbow_shift 40s ease-in-out alternate-reverse infinite;
}
@keyframes rainbow_shift {
  0% { background-position: 0% 100% }
  50% { background-position: 100% 0% }
  100% { background-position: 0% 100% }
}
.marquee-over{
	z-index: 101;
	position: absolute;
	width: 100%;
	height: 10em;
	left: 0;
	top: 0;
	background-image: url("lambrequim.png");
	background-repeat: space no-repeat;
	background-size: 2rem;
	/*background-attachment: fixed;*/
	filter: drop-shadow(-4px 0px 0px #00000033);
	mix-blend-mode: soft-light;
}
.marquee-frechal{
	z-index: 102;
	position: absolute;
	width: 100%;
	height: 2.5rem;
	left: 0;
	top: 0;
	box-shadow: 0 0.1rem 0.1rem 0 #00000033;
	background-color: #fff;
}
.marquee-penant{
	font-size: 6rem;
	font-family: 'Cookie', cursive;
	font-style: italic;
	text-shadow: -4px 0 #66004444;
	text-shadow: -4px 0 #333;
	mix-blend-mode: overlay;
	color: #ffeecc;
}
.marquee-gable{
	margin-bottom: -1rem;
	font-size: 1.6rem;
	font-family: 'Cinzel', serif;
	text-shadow: -2px 0 #333;
	mix-blend-mode: soft-light;
}
.marquee-caption{
	margin-bottom: -1rem;
	font-size: 1.2rem;
	font-family: 'Quattrocento', serif;
	mix-blend-mode: soft-light;
}
.marquee-embroider{
	max-width: 1000px;
	margin: 1.4rem auto;
	border-top: 2px dotted #fff;
	padding: 0.1rem;
	/*border-bottom: 1px solid #fff;*/
	mix-blend-mode: overlay;
}
@media only screen and (max-width: 1100px) {
	.marquee-bound{
		padding: 12rem 1rem 4rem;
	}
	.marquee-penant{
		font-size: 5rem;
	}
}
.frieze{
	padding: 3rem 1rem 2rem;
	background-color: #7687FF;
	background-color: #373F80;
	background: linear-gradient( 250deg, #57bb5455, rgba(71, 185, 197, 120), #8056f599, #9454b999, #d6667e99, #e6a64699, #ca5a5a99, #c4404b99, #432F5C99, #201a7499);/*#68FD138, #20E61D, #0a0b18*/
	background-size: 3000% 3000%;
	color: #fff;
	animation: rainbow_shift 40s ease-in-out alternate-reverse infinite;
}
.frieze *{
	font-family: 'Quicksand', sans-serif;
}
.frieze-field{
	width: 100%;
	max-width: 900px;
	margin: auto;
}
.frieze-inscription, .frieze-list, .frieze-type{
	padding-left: 2rem;
	font-size: 1.2rem;
	text-align: left;
}
.frieze-inscription{
	padding-left: 0rem;
	font-size: 1.3rem;
}
.frieze-type{
	margin-top: 1rem;
}
.frieze-list{
	padding: 0.4rem 2rem;
	border-bottom: 1px solid #ffffff33;
}
.frieze-list:last-child{
	border-bottom: 1px solid transparent;
}
.frieze-list li{
	opacity: 0.6;
	display: inline-block;
	padding: 0.4rem 0.6rem;
	transition: 0.3s;
}
.frieze-list li:hover{
	opacity: 0.8;
	transform: translate(0, -0.4vh);
}
.frieze-list li:hover a{
	text-decoration-color: #fff;
}
.frieze-list li a{
	color: inherit;
}
@media only screen and (max-width: 480px) {
	.frieze{
		padding: 2rem 1rem 3rem;
	}
}

.board{
	position: sticky;
	width: 100%;
	padding: 0.6rem;
	color: #eeeeee;
	font-size: 1.2rem;
	text-align: center;
	list-style-type: none;
	mix-blend-mode: overlay;
}
.board-item{
	position: relative;
	box-sizing: content-box;
	cursor: pointer;
	padding: 2vh 3vh;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	transition: 0.3s;
}
.board-item img{
	width: 100%;
	height: 100%;
}
.board-item:hover{
	transform: translate(0, -0.6vh);
	filter: drop-shadow(0vh 0vh 2px #fff);
}

.baldachin-wrapper{
	z-index: 100;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: linear-gradient( 250deg, #57bb54, rgb(71, 185, 197), #8056f5, #9454b9, #d6667e, #e6a646, #ca5a5a, #c4404b, #432F5C, #201a74);/*#68FD138, #20E61D, #0a0b18*/
	background-size: 1200% 1200%;
	animation: rainbow_shift 40s ease-in-out alternate-reverse infinite;
}
.baldachin{
	width: 100%;
	padding-right: 1rem;
	/*border-bottom: 1px solid #ffffff99;*/
	box-shadow: 0 4px 4px 0px #00000011;
	background-color: #FA9073;
	background-color: transparent;
	color: #fff;
	text-align: center;
	transition: 0.3s;
}
.baldachin-wrapper.sticky .baldachin{
	background-color: #C7574C;
	background-color: #222;
	animation: none;
}
.baldachin *{
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	transition-delay: 0s;
}
.baldachin li{
	cursor: pointer;
	display: inline-block;
}
.baldachin-brand:hover{
	color: #f3d179;
}
.baldachin li i{
	transition: color 0.2s, transform 0.3s;
}
.baldachin li:not(.baldachin-search):hover i{
	transform: translate(0, -0.6vh);
}
.baldachin-brand{
	pointer-events: none;
	opacity: 0;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	padding: 1rem;
	padding-right: 0rem;
	font-size: 2rem;
	font-style: italic;
	font-family: 'Cookie', cursive;
	transform: translate(-4rem, 0);
	filter: blur(10px);
	transition: 0.3s;
}
.baldachin-wrapper.sticky .baldachin .baldachin-brand{
	pointer-events: auto;
	transform: translate(0, 0);
	filter: blur(0px);
	opacity: 1;
}
.baldachin-brand label{
	padding-right: 1.4rem;
	border-right: 1px solid #fff;
	font-family: 'Cookie', cursive;
}
.baldachin-brand:hover label{
	border-right: 1px solid #f3d179;
}
.baldachin-item, .baldachin-search{
	cursor: pointer;
	padding: 1rem 1rem;
	padding-right: 0rem;
	transition: opacity 0.2s;
	transition-delay: 0.3s;
}
.baldachin-item i, .baldachin-search i{
	font-size: 2rem;
}
.baldachin-search{
	z-index: 102;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 1rem;
}
.baldachin-search i{
	transition: 0.3s;
}
.baldachin-search.active i, .baldachin-search:hover i{
	color: #f3d179;
	transform: rotate(-20deg);
}
.baldachin-cover{
	z-index: 101;
	position: absolute;
	right: 0;
	top: 0;
	width: 0%;
	height: 100%;
	padding: 0.8rem 1.2rem;
	padding-right: 4rem;
	background: inherit;
	transition: width 0.4s ease-in-out, background-color 0s;
	overflow: hidden;
}
.baldachin-wrapper.sticky .baldachin .baldachin-cover{
	transition: width 0.4s ease-in-out, background-color 0.2s;
}
.baldachin-input{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #fff;
	padding: 0;
	background-color: transparent;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	text-align: left;
	font-weight: lighter;
}
.baldachin-input::placeholder{
	color: #ffffffaa;
}
.baldachin-search.active + .baldachin-cover{
	width: 30rem;
}
@media only screen and (max-width: 1100px) {
	.baldachin-search.active + .baldachin-cover{
		width: 100%;
	}
	.baldachin .baldachin-search.active ~ .baldachin-item{
		opacity: 0;
		transition-delay: 0s;
	}
}
@media only screen and (max-width: 480px) {
	.baldachin-wrapper.sticky .baldachin .baldachin-brand{
		/* pointer-events: none;
		transform: translate(-40rem, 0rem); */
	}
}

.appendix{
	position: sticky;
	top: 5rem;
	top: 30%;
	margin: 5rem 1rem;
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
}
@media only screen and (max-width: 1100px) {
	.appendix{
		display: none;
	}
}
.appendix li{
	width: 3.6rem;
	height: 3.6rem;
	padding: 0.6rem;
}
.appendix li img{
	width: 100%;
}

.torso{
	display: inline-block;
	width: 100%;
	max-width: 800px;
	min-height: 30rem;
	margin: 0 auto;
	padding: 1rem 2rem 3rem;
	/*box-shadow: 0 0.2rem 0.2rem 0 #00000033;*/
	background-color: #fff;
	color: #777;
	font-size: 1.4rem;
	font-family: 'Lustria', serif;
}
@media only screen and (max-width: 1100px) {
	.torso{
		max-width: 100%;
		padding: 1rem 1rem 3rem;
	}
}
.torso-penant{
	position: relative;
	padding: 2rem;
	margin: 0rem auto 2rem;
	color: #777;
	font-size: 1.6rem;
	text-align: center;
	box-shadow: 0px 14px 8px -14px #eee;
	font-family: 'Cookie', cursive;
	font-size: 3rem;
}
.torso-title{
	margin-bottom: 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid #eee;
	font-size: 1.6rem;
	text-align: left;
}
.torso-card p{
	font-size: 1rem;
	text-indent: 2rem;
	line-height: 2rem;
	text-align: justify;
}
.torso-card p::first-letter{
	font-size: 1.6rem;
}
.torso-card p b{
	font-size: 1.1rem;
}
.torso p a:hover{
	transform: translate(0, -0.4vh);
}
.torso-quote{
	margin: 0.8rem auto;
	padding: 0.4rem 3rem;
	border-left: 0.3rem solid #ddd;
	font-size: 1.1rem;
	line-height: 1.8rem;
	font-style: italic;
}
.quote-author{
	right: 0;
	width: 100%;
	text-align: right;
}
.quote-author:before{
	content: '— ';
}
@media only screen and (max-width: 480px) {
	.torso-quote{
		padding: 0.4rem 1rem;
	}
}

.torso-order{
	padding: 0.6rem 1.4rem;
	font-size: 1rem;
	line-height: 2rem;
	text-align: left;
	list-style-type: upper-roman;
}
.torso-order li{
	cursor: pointer;
	width: 100%;
	padding: 0.4rem 1rem;
	font-size: 1.1rem;
	transition: 0.3s;
}
.torso-order li:hover{
	background: #00000003;
	color: #FA9073;
}
.torso-order li:after{
	content: '+';
	float: right;
}
.torso-order li.active:after{
	content: '-';
}
.torso-panel{
	max-height: 0;
	border-bottom: 1px solid transparent;
	overflow: hidden;
	transition: 0.5s;
}
.torso-order li.active + .torso-panel{
	max-height: 100;
	border-bottom: 1px solid #eee;
	overflow: auto;
}

.torso-also{
	padding: 2rem 0;
	box-shadow: 0px 3px 3px -4px #aaa;
	font-size: 1rem;
	line-height: 2rem;
	text-align: left;
}
.also-list li{
	display: inline-block;
	padding-left: 1.2rem;
}

.breadcrumb-box{
	padding: 0 0.2rem 0.8rem;
	border-bottom: 1px solid #00000008;
 	text-align: left;
}
.breadcrumb-bran, .breadcrumb-bran a{
  cursor: pointer;
  color: #ed9a73;
  font-size: 1.1rem;
  transition: 0.3s;
  display: inline-block;
}
.breadcrumb-bran:hover a{
  color: #AB4949;
}
.breadcrumb-bran:after{
  content: '›';
  padding: 1rem;
  color: #999;
}
.breadcrumb-bran.active, .breadcrumb-bran.active a{
  cursor: auto;
  color: #999;
}
.breadcrumb-bran.active:after{
  content: none;
}

.spine{
	display: inline-block;
	top: 0;
	width: 100%;
	max-width: 300px;
	height: 600px;
	margin: 0rem 1rem;
	padding: 1rem 1rem 3rem;
	/*box-shadow: 0 0.2rem 0.2rem 0 #00000033;*/
	background-color: #fff;
	color: #777;
	vertical-align: top;
}
@media only screen and (max-width: 1240px) {
	.spine{
		width: 100%;
		max-width: 720px;
		margin: 1rem auto;
	}
}

.floor-box{
	width: 100%;
	margin-top: 2rem;
	padding: 2rem 1rem 1.2rem;
	background-color: #FA9073;
	background: linear-gradient( 250deg, #373F8055, #e6a64677, #57bb5455, #47B9C555, #8056f555, #9454b977, #d6667e77, #e6a64677, #ca5a5a77, #c4404b55, #432F5C33, #201a9433);/*#68FD138, #20E61D, #0a0b18*/
	background-size: 1200% 1200%;
	animation: rainbow_shift 60s ease-in-out alternate-reverse infinite;
	color: #fff;
	text-align: center;
}
.floor-box img{
	margin: auto;
	width: 2rem;
}
.floor-penant{
	font-family: 'Cookie', cursive;
	font-style: italic;
	color: #fff;
}
.floor-penant.little{
	font-size: 3rem;
	text-shadow: -4px 0 transparent;
}

::-webkit-scrollbar {
  width: 2px;
  transition: 0.3s;
}
::-webkit-scrollbar *{
  transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
